//@use 'variables/palette.var' as palette;

.header {

    &__toolbar {


        &--mobile {
            height: 72px;
            background-color: #274ab1;
            color: white;
        }

        &--desktop {
            height: 85px;
            background-color: #274ab1;
            color: white;
            border-bottom: 1px solid white;
            padding: 0 2rem
        }
    }

    &__logo {
        width: 140px;
        margin-right: 2rem;
        filter: invert(1);
    }

    &__icon-menu {
        color: white;
    }

    &__spacer {
        flex: 1 1 auto;
    }

    &__app-title {
        font-weight: 500;
        margin-left: 2rem;
    }

}